@font-face {
    font-family: 'brown-light';
    src: url("../fonts/Brown-Light.woff2") format("woff2");
}

.default {
    color: white;
    font-family: 'brown-light', Arial, Helvetica, sans-serif;
    text-anchor: middle;
    dominant-baseline: middle;
}

.primary {
    composes: default;
    font-size: medium;
}

.secondary {
    composes: default;
    font-size: smaller;
}

.active rect {
    fill: white;
}

.active text {
    fill: black;
    font-weight: bold;
}
